.page-header {
  &__navbar {
    background-color: rgba($color-light, 0.8);

    @media (min-width: 992px) {
      .dropdown.show {
        border-bottom: 1px solid $color-light;
        background-color: $color-dark;

        .dropdown-toggle {
          color: $color-light;
        }
      }

      .dropdown-menu {
        margin-top: 1px;

        border: none;
        border-radius: 0;
        background-color: $color-dark;

        a {
          color: $color-light;

          &:hover {
            color: $color-dark;
          }
        }
      }
    }
  }

  &__carousel {
    margin-right: 0;
    margin-left: 0;

    border-bottom: 1px solid $color-light;
    background-color: rgba(#000000, 0.3);
  }

  &__navbar-search {
    height: 50px;

    border: 1px solid $color-dark;

    flex-wrap: nowrap;

    @media (max-width: 991px) {
      display: inline-flex;

      width: calc(100% - 100px);
    }

    .form-control {
      border: none;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;

      font-size: 1.2rem;

      @media (min-width: 992px) {
        width: 10rem !important;
      }
      @media (max-width: 991px) {
        flex-grow: 2;
      }
    }

    button {
      margin: 5px;
      padding: 0;

      color: $color-light;
      border-color: $color-dark;
      background-color: $color-dark;

      &:hover {
        color: $color-dark;
        background-color: $color-light;
      }
    }

    i {
      display: block;

      padding: 10px;
    }
  }
}

.page-header {
  &__cart-btn {
    position: relative;

    width: 50px;
    height: 50px;
    margin-left: 30px;

    color: $color-dark;
    border: none;
    border-radius: 0;
    background-color: $color-light;

    &:hover {
      span {
        color: $color-dark;
        background-color: $color-light;
      }
    }
  }

  &__cart-counter {
    display: none;
  }
}

