.navbar {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.navbar-light .navbar-nav .nav-link {
  white-space: nowrap;
  color: #2c71b6;
  font-size: 1.2rem;
}

.page-header__navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

.page-header__carousel {
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__navbar-search {
  height: 50px;
  border: 1px solid #2c71b6;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.page-header__navbar-search .form-control {
  border: none;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.2rem;
}

.page-header__navbar-search button {
  margin: 5px;
  padding: 0;
  color: #ffffff;
  border-color: #2c71b6;
  background-color: #2c71b6;
}

.page-header__navbar-search button:hover {
  color: #2c71b6;
  background-color: #ffffff;
}

.page-header__navbar-search i {
  display: block;
  padding: 10px;
}

.page-header__cart-btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  color: #2c71b6;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
}

.page-header__cart-btn:hover span {
  color: #2c71b6;
  background-color: #ffffff;
}

.page-header__cart-counter {
  display: none;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url(../img/patt.png);
  background-position: 50% 0;
}

.breadcrumb {
  padding: 1rem 0 0 0;
  opacity: 0.5;
  background-color: transparent;
  font-size: 14px;
}

.breadcrumb a {
  color: #ffffff;
}

.breadcrumb-item .breadcrumb-item::before {
  content: ">";
  color: #ffffff;
}

.breadcrumb-item.active {
  color: #ffffff;
}

.page-title__header {
  color: #ffffff;
  font-size: 2.85rem;
}

.page-title__filter {
  width: 100%;
  margin-top: 6px;
  padding: 3px 10px 5px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #2c71b6;
  font-size: 1.25rem;
}

.page-content {
  margin-top: 30px;
}

.item-wrapper {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #ffffff;
}

.item-wrapper .container-fluid {
  background-color: rgba(44, 113, 182, 0.5);
}

.item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-title {
  padding-top: 0.75rem;
  color: #ffffff;
  font-size: 1.75rem;
}

.item-description {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.item-characteristics {
  margin-top: 15px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.item-price {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.item-actions {
  padding: 15px;
}

.page-pagination__more {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
}

.page-pagination__more a {
  color: #ffffff;
}

@media (min-width: 992px) {
  .navbar-nav {
    width: calc(100% - 300px);
    padding-right: 30px;
    padding-left: 70px;
  }
  .navbar-nav > .nav-item {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navbar-nav > .nav-item :not(.show) {
    border-left: 1px solid #2c71b6;
  }
  .navbar-nav > .nav-item:last-child {
    border-right: 1px solid #2c71b6;
  }
  .page-header__navbar .dropdown.show {
    border-bottom: 1px solid #ffffff;
    background-color: #2c71b6;
  }
  .page-header__navbar .dropdown.show .dropdown-toggle {
    color: #ffffff;
  }
  .page-header__navbar .dropdown-menu {
    margin-top: 1px;
    border: none;
    border-radius: 0;
    background-color: #2c71b6;
  }
  .page-header__navbar .dropdown-menu a {
    color: #ffffff;
  }
  .page-header__navbar .dropdown-menu a:hover {
    color: #2c71b6;
  }
  .page-header__navbar-search .form-control {
    width: 10rem !important;
  }
}

@media (max-width: 991px) {
  .page-header__navbar-search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: calc(100% - 100px);
  }
  .page-header__navbar-search .form-control {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}
